body {
    
    background-color: lightgoldenrodyellow;
    margin: 0 200px;
    font-family: sans-serif;
}

h1 {

    font-family: serif;
    font-weight: normal;

    border-bottom: 1px solid blue;
    margin-top: 30px;
    padding-left: 350px;
}

h2 {
    color: brown;
    font-size: 18px;
}

img {

    display: block;
    margin: 0 auto;

}

.it {
    font-style: italic;
}